@import '@/utils/styles/variables.module';

.button {
  display: flex;
  font-size: 0;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #fff;
}

.datePicker {
  padding: 18px;
  border-radius: 12px;
  border: none;
  background-color: $mainWhiteColor;
  outline: none;
}

.datePickerHeaderCustom {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  border: none;
  margin-bottom: 24px;
}

.dayName {
  color: $mainWhiteColor;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
}

.rotate {
  transform: rotate(180deg);
}

.dateContainer {
  font-weight: 600;
  line-height: 1.2;
  flex-grow: 1;
}
