@import '../../../utils/styles/variables.module';
@import '../../../utils/styles/placeholders.module';

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.titleWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  //width: 526px;
  min-width: 0;
}

.item {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
}

.nameWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
}

.img {
  object-fit: cover;
  width: 290px;
  height: 310px;
  border-radius: 10px;
}

.list {
  @extend %filterList;
}

.filterItem {
  @extend %itemFilterList;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.desc {
  display: flex;
  gap: 16px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.backdropContainer {
  @extend %backdrop-container;
}

.iconComponent {
  @extend %iconComponent;

  gap: 4px;
}
