@import '../../../utils/styles/variables.module';
@import '../../../utils/styles/placeholders.module';

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 526px;
}

.item {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
}

.nameWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  object-fit: cover;
  width: 290px;
  height: 310px;
  border-radius: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.filterItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 18px;
  border-radius: 25px;
  background-color: $mainWhiteColor;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.desc {
  display: flex;
  gap: 16px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.backdropContainer {
  @extend %backdrop-container;
}
