@import '@/utils/styles/variables.module';

@import '@/utils/styles/mixins.module';

%container {
  margin: 0 auto;
  padding: 0 16px;

  //@media (375px <= width) {
  //  max-width: $mobile;
  //}

  //@media (768px <= width) {
  //  max-width: $mobile;
  //}

  @media (1440px <= width) {
    max-width: $tablet;
  }

  @media (1440px < width) {
    max-width: $desktop;
  }
}

%section {
  @include mainSection;
}

%backdrop-container {
  position: relative;
  overflow: hidden;
}

%backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(43, 43, 43, 0.6);
  backdrop-filter: blur(10px);
  z-index: 200;
}

%modal {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  //align-items: center;
  //justify-content: center;
  flex-direction: column;
  //text-align: center;

  padding: 40px;

  background-color: rgba(229, 229, 229, 0.7);
  transform: translate(-50%, -50%);

  width: 100%;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 20px;

  @media (768px <= width) {
    //min-height: 668px;
    max-width: 672px;
  }
}

%fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  margin: 0;
  padding: 0;
  width: 360px;
  border: 2px solid transparent;
}

%inputCheckWrap {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  gap: 8px;
  height: 95px;
  min-width: 112px;
  max-width: 115px;
  line-height: 1.25;
  width: 113px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  text-align: center;
  font-family: inherit;
  background-color: transparent;
  transition: transform .3s linear;
}

%inputCheck {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

%filterTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  border-bottom: 1px solid rgba(16, 24, 40, 0.1);
  margin-bottom: 24px;
  padding-bottom: 24px;
}

%filterList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

%itemFilterList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 12px 18px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  border-radius: 25px;
  background-color: $mainWhiteColor;
}

%iconComponent {
  display: flex;
  align-items: center;
  justify-content: center;
}

%button {
  padding: 16px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  border-radius: 50px;
  color: #fff;
  background-color: $accentRedColor;
}

%field {
  padding: 18px;
  //width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 10px;
  border: 1px solid transparent;
  color: rgba(16, 24, 40, 0.6);
  background-color: $mainWhiteColor;
  transition: all 0.3s linear;

  &::placeholder {
    color: #b5b7b9;
  }

  &:hover {
    background-color: transparent;
    border-color: #4096ff;
  }

  &:focus {
    background-color: transparent;
    border-color: #1677ff;
    outline: #4096ff;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  }
}
