// colors
$mainDarkColor: #101828;
$mainWhiteColor: #F2F4F7;
$secondaryTextColor: #475467;
$yellowColor: #FFC531;
$accentRedColor: #E44848;
$hoverColor: #D84343;


// font-sizes
$xs: 12px;
$s: 14px;
$m: 16px;
$l: 18px;
$xl: 20px;
$xxl: 24px;

// breakpoints
$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

// paddings
$sectionPaddingTopMobile: 50px;
$sectionPaddingBottomMobile: 50px;
$sectionPaddingTopTablet: 60px;
$sectionPaddingBottomTablet: 60px;
$sectionPaddingTopDesktop: 100px;
$sectionPaddingBottomDesktop: 100px;
