@import '@/utils/styles/variables.module';
@import '@/utils/styles/placeholders.module';

.fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.wrap {
  @extend %inputCheckWrap;

  flex-direction: column;
}

.input {
  @extend %inputCheck;
}

.input:checked + .wrap {
  border-color: $accentRedColor;
}
