.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  align-items: flex-start;
  background-color: #11121366;
  z-index: 1200;
  overflow-y: auto;
}
