@import "@/utils/styles/variables.module";

.datepicker {
  width: 376px;
  padding: 18px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: $mainWhiteColor;
  font-size: 18px;
  color: rgba(16, 24, 40, 0.6);

  & input:placeholder-shown {
    color: rgba(16, 24, 40, 0.6);
    font-size: 18px;
  }

}
  .datepicker input {
    font-size: 18px;
    width: 100%;
  }

.datepicker ::-webkit-input-placeholder,
  .datepicker ::-moz-placeholder,
  .datepicker :-ms-input-placeholder
  {
    color: green;
  }
