@import '@/utils/styles/placeholders.module';

.listsWrap {
  display: flex;
  flex-direction: column;
  gap: 44px;
  //width: 430px;
}

.listDetails {
  @extend %filterList;

  //width: 430px;
}

.listFeatures {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.featuresItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.itemDetails {
  @extend %itemFilterList;

  border-radius: 50px;
  text-transform: capitalize;
}

.iconComponent {
  @extend %iconComponent;

  gap: 4px;
}

.textValue {
  text-transform: capitalize;
}

.value {
  text-transform: capitalize;
}
